.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage

# for continuous deploy
# dist/**

# for heroku
# !dist/package.json
# !dist/server.js

# for temporary landing page
dist/home/**
dist/static/**
# !dist/index.html
# !dist/assets/**
# !dist/images/**

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

package-lock.json

# Firebase 배포관련
.firebaserc
firebase.json
deployRelease.sh
